.container {
    width: 1000px;
    margin: auto;
    display: flex;
    padding: 20px;
}
.nav {
    width: 300px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-around;
    flex: 1 1;
}
.row {
    align-items: center;
    width: 500px;
}
.col {
    align-items: center;
}
.navbar {
    display: flex;
    align-content: space-between;
    justify-content: flex-end;
}
